<!-- As a heading -->
<html>
    <body>


<nav class="navbar bg-danger">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Arrival - Departure Schedule Board</span>
      <div class="datetime">
        <p id="p1" style="color: black"></p>
        <script>
            var date = new Date();
            var current_time = date.getHours()+":"+date.getMinutes()+":"+ date.getSeconds();
            document.getElementById("p1").innerHTML = current_time;
        </script>
      </div>
    </div>
  </nav>

  <br><br>

  <div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <a routerLink="/view"><button type="button" class="btn btn-outline-primary btn-lg">View</button></a>
        </div>
        <div class="col">
            <a routerLink="edit"><button type="button" class="btn btn-outline-primary btn-lg">Edit</button></a>
        </div>
    </div>
    
    
  </div>




<router-outlet></router-outlet> 
</body>
</html>